extends ../layout

block content
    datalist#noms
     each event in events
      option(value=event.title)

    div#mySidenav(class='sidenav')
       a#vlib(class='unclicked' onclick='removeVelibs()') Vélibs
       a#prking(class='unclicked' onclick='removeParkings()') Parkings

    input#pac-input(class='controls' type='text' placeholder='Rechercher un évènement...' list='noms')
    div#map-canvas

    script.
     var eventPug = !{JSON.stringify(events)};
     var velibPug = !{JSON.stringify(velibs)};
     var parkingPug = !{JSON.stringify(parkings)};
     var menu = 0;
