extends ../layout

block content
    datalist#noms
     each event in events
      option(value=event.title)

    div#mySidenav(class='sidenav')
     div#text
      label
       input#vlib(type='checkbox' onclick='removeVelibs()')
       .
        Vélibs
      label
       input#park(type='checkbox' onclick='removeParkings()')
      label
       input(type='checkbox')

    input#pac-input(class='controls' type='text' placeholder='Rechercher un évènement...' list='noms')
    div#map-canvas

    script.
     var eventPug = !{JSON.stringify(events)};
     var velibPug = !{JSON.stringify(velibs)};
     var parkingPug = !{JSON.stringify(parkings)};
     var menu = 0;
